@{
    ViewBag.Title = "Quem somos";
}


<p>
    Um software para realizar a criação das series, a ficha de série seria
    virtual onde ela seria acessado direto por dispositivo mobile.
    Disponibilidade da série aonde o aluno estiver.
</p>
