@{
    ViewBag.Title = "Quem somos";
}



<div class="jumbotron" style="background-color:white">
    <h1>Boora</h1>
    <p class="lead">
                Um software para realizar a criação das series, a ficha de série é
        virtual onde ela é acessado direto por dispositivo mobile.
        Disponibilidade da série aonde o aluno estiver.
        <br />Somos Boora.
    </p>
    </div>

