@{
    ViewBag.Title = "Contato";
}
<br />
<br />

<address>
    Cel: (41) 9 9990-3978<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:booraappcontato@gmail.com">booraappcontato@gmail.com</a><br />

</address>