@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <h1> <img src="~/Recursos/LogoTcc.png" /></h1>
    <p class="lead">
        Nós nascemos para facilitar o contato dos alunos com as academias, nascemos para tornar o acesso às séries de exercícios mais simples. 
        <br />
        Somos Boora.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4" style="background-color:yellow" >
        <h2>Boora</h2>
        <p>
            Um software para realizar a criação das series, a ficha de série é
            virtual onde ela é acessado direto por dispositivo mobile.
            - Disponibilidade da série aonde o aluno estiver.

        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>*@
    </div>
    <div class="col-md-4">

        <p>
            <h2>Baixe ja</h2>
            <br />

            <img src="~/Recursos/QrCode.jpeg" />
            <a href="https://play.google.com/store/apps/details?id=com.companyname.Boora_TCC_2019"><img src="~/Recursos/google-play-badge.png" width="300" height="150"/> </a>
        </p>
        
        
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>*@
    </div>
    <div class="col-md-4"  style="background-color:yellow" >
        <h2>Aluno Novo</h2>
        <a href="http://booraapp.gear.host/Academia/Listar_Academia" >Cadastre -se</a>
        <p>
            "Exercício físico também é alimento para o corpo e alma."<br />
             (Fábio Ibrahim El Khoury)
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"> Leia mais &raquo;</a></p>*@
    </div>
</div>

    