@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:yellow">
    <h1>Boora</h1>
    <p class="lead">
        Nós nascemos para facilitar o contato dos alunos com as academias, nascemos para tornar o acesso às séries de exercícios mais simples. Somos Boora.
    </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Leia mais &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4" >
        <h2>O que é</h2>
        <p>
            Um software para realizar a criação das series, a ficha de série seria 
            virtual onde ela seria acessado direto por dispositivo mobile.
            Disponibilidade da série aonde o aluno estiver.

        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leia mais &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Nossa Equipe</h2>
        <p>
            Augusto Lima Da Silva Santos<br/>
            Rodrigo Bora
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Aluno Novo</h2>
        <a href="http://booraapp.gear.host/Academia/Listar_Academia" >Faça Parte</a>
        <p>
            "Exercício físico também é alimento para o corpo e alma."<br />
             (Fábio Ibrahim El Khoury)
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"> Leia mais &raquo;</a></p>*@
    </div>
</div>